@import "../../../less/tools.less";

.listBody{
  margin-top: 20px;
}
.btnGroup{
  width: 11%;
  float: right;
}
.createTime{
  font-size: 12px;
  line-height: 22px;
  font-style: oblique;
}
.listText{
  font-size: 18px;
  margin: 0;
  .breakWord();
}